<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.requirement.mapper.WipItemWkpPosMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.requirement.mapper.dataobject.WipItemWkpPosDO">
        <result column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="location_a" property="locationA"/>
        <result column="location_b" property="locationB"/>
        <result column="unit_qty" property="unitQty"/>
        <result column="location_a_qty" property="locationAQty"/>
        <result column="technique_attr" property="techniqueAttr"/>
        <result column="rmk01" property="rmk01"/>
        <result column="rmk02" property="rmk02"/>
        <result column="rmk03" property="rmk03"/>
        <result column="rmk04" property="rmk04"/>
        <result column="rmk05" property="rmk05"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_host" property="crtHost"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_host" property="updHost"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>
</mapper>
