<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.rtc.mapper.WipMtrRtcPostLimitMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.rtc.mapper.dataobject.WipMtrRtcPostLimitDO">
            <result column="factory_id" property="factoryId" />
            <result column="factory_no" property="factoryNo" />
            <result column="limit_day" property="limitDay" />
            <result column="limit_hour" property="limitHour" />
            <result column="status" property="status" />
            <result column="rmk01" property="rmk01" />
            <result column="rmk02" property="rmk02" />
            <result column="rmk03" property="rmk03" />
            <result column="rmk04" property="rmk04" />
            <result column="rmk05" property="rmk05" />
            <result column="crt_time" property="crtTime" />
            <result column="crt_user" property="crtUser" />
            <result column="crt_host" property="crtHost" />
            <result column="upd_time" property="updTime" />
            <result column="upd_user" property="updUser" />
            <result column="upd_host" property="updHost" />
        </resultMap>
</mapper>
