<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.requirement.mapper.WipReqHeaderMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.requirement.mapper.dataobject.WipReqHeaderDO">
        <result column="header_id" property="headerId"/>
        <result column="organization_id" property="organizationId"/>
        <result column="bill_no" property="billNo"/>
        <result column="bill_status" property="billStatus"/>
        <result column="bill_type" property="billType"/>
        <result column="bill_qty" property="billQty"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_no" property="sourceNo"/>
        <result column="product_id" property="productId"/>
        <result column="product_no" property="productNo"/>
        <result column="product_model" property="productModel"/>
        <result column="factory_id" property="factoryId"/>
        <result column="client_name" property="clientName"/>
        <result column="software_code" property="softwareCode"/>
        <result column="bill_person" property="billPerson"/>
        <result column="plan_start_date" property="planStartDate"/>
        <result column="mtr_ready_date" property="mtrReadyDate"/>
        <result column="completion_date" property="completionDate"/>
        <result column="rmk01" property="rmk01"/>
        <result column="rmk02" property="rmk02"/>
        <result column="rmk03" property="rmk03"/>
        <result column="rmk04" property="rmk04"/>
        <result column="rmk05" property="rmk05"/>
        <result column="rmk06" property="rmk06"/>
        <result column="rmk07" property="rmk07"/>
        <result column="rmk08" property="rmk08"/>
        <result column="rmk09" property="rmk09"/>
        <result column="rmk10" property="rmk10"/>
        <result column="rmk11" property="rmk11"/>
        <result column="rmk12" property="rmk12"/>
        <result column="rmk13" property="rmk13"/>
        <result column="rmk14" property="rmk14"/>
        <result column="rmk15" property="rmk15"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_date" property="crtDate"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_date" property="updDate"/>
    </resultMap>

    <sql id="addedData">
        header_id
      , organization_id
      , bill_no
      , bill_status
      , bill_type
      , bill_qty
      , source_type
      , source_no
      , product_id
      , product_no
      , product_model
      , factory_id
      , consumer_name as client_name
      , customer_id
      , software_code
      , bill_person
      , plan_start_date
      , mtr_ready_time as mtr_ready_date
      , completion_date
      , bill_person   as crt_user
      , now()         as crt_date
      , bill_person   as upd_user
      , now()         as upd_date
      , source_id
      , bom_version
      , source_lot_no
      , wip_status_type as status_type
    </sql>

    <select id="getSourceId" parameterType="java.lang.String" resultType="java.lang.String">
        select source_id
        from wip.wip_req_header
        where header_id = #{headerId}
    </select>

    <select id="selectDelivered"
            resultType="com.cvte.scm.wip.infrastructure.requirement.mapper.dataobject.WipReqHeaderDO">
        select <include refid="addedData"></include>
        from wip.xxwip_mo_v x
        where x.date_released > now()::timestamp + '-1 hour'
          and x.organization_id in
          <foreach collection="organizationIdList" item="organizationId" open="(" separator="," close=")">
              #{organizationId}
              </foreach>
          <if test="factoryId != null and factoryId.length() > 0">
          and x.factory_id = to_number(#{factoryId})
          </if>
          and not exists(
              select 1 from wip.wip_req_header wrh where wrh.bill_no = x.bill_no
          )
    </select>

    <select id="selectUndelivered"
            resultType="com.cvte.scm.wip.infrastructure.requirement.mapper.dataobject.WipReqHeaderDO">
        select <include refid="addedData"></include>
        from wip.xxwip_mo_v x
        where
        /* 这部分是特定的同步逻辑 */
        (
            (
                /* 未发放七天内齐套 */
                (x.wip_status_type = '1' and date_trunc('day', x.mtr_ready_time) <![CDATA[ <= ]]> date_trunc('day', current_timestamp + '7 day'))
                and x.organization_id in
                <foreach collection="organizationIdList" item="organizationId" open="(" separator="," close=")">
                    #{organizationId}
                </foreach>
            )
            /* https://kb.cvte.com/pages/viewpage.action?pageId=206393904 第2点 */
            or
            (
                /* 产品强批次管控 */
                <foreach collection="lotControlVOList" item="lotControlVO" open="(" separator="or" close=")">
                    x.organization_id = to_number(#{lotControlVO.ebsOrganizationId})
                    and x.product_id in  (
                        select to_number(inventory_item_id)
                        from scm.md_item mi
                        where mi.rd_min_class_code = #{lotControlVO.productClass}
                    )
                </foreach>
            )
            or
            (
                /* 视昱的单据 */
                x.organization_id = '93'
            )
        )
        /* 这部分是限制条件 */
        <if test="factoryId != null and factoryId.length() > 0">
            and x.factory_id = to_number(#{factoryId})
        </if>
        and not exists(
            select 1 from wip.wip_req_header wrh where wrh.bill_no = x.bill_no
        )
        and exists(
            /* 投料行已被缓存 */
            select 1
            from scm_fdw.xxaps_mo_item xoi
            where x.header_id = xoi.wip_entity_id
        )
    </select>

    <select id="existLotNumber" resultType="java.lang.Boolean">
        select count(*) > 0
        from wip_lot_v Wl
        where Wl.wip_id = #{headerId}
        and Wl.lot_number = #{lotNumber}
    </select>
</mapper>