<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.requirement.mapper.WipReqLotIssuedMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.requirement.mapper.dataobject.WipReqLotIssuedDO">
            <result column="header_id" property="headerId" />
            <result column="organization_id" property="organizationId" />
            <result column="item_no" property="itemNo" />
            <result column="wkp_no" property="wkpNo" />
            <result column="mtr_lot_no" property="mtrLotNo" />
            <result column="issued_qty" property="issuedQty" />
            <result column="rmk01" property="rmk01" />
            <result column="rmk02" property="rmk02" />
            <result column="rmk03" property="rmk03" />
            <result column="rmk04" property="rmk04" />
            <result column="rmk05" property="rmk05" />
            <result column="crt_user" property="crtUser" />
            <result column="crt_date" property="crtDate" />
            <result column="upd_user" property="updUser" />
            <result column="upd_date" property="updDate" />
            <result column="status" property="status" />
        </resultMap>

    <select id="selectCnBillTypeLot" resultType="java.lang.Integer">
        select count(1)
        from wip_req_lot_issued rli
        inner join wip_req_lines wrl
             on rli.header_id = wrl.header_id
            and rli.item_no = wrl.item_no
            and rli.wkp_no = wrl.wkp_no
            and wrl.line_status <![CDATA[ <> ]]> '50'
        where rli.organization_id = #{organizationId}
          and rli.header_id = #{headerId}
          and (rli.item_no = #{itemKey} or wrl.item_id = #{itemKey})
          and rli.lot_type = 'cn_bill'
    </select>

</mapper>
