<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.patch.mapper.WipPatchHistoryMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.patch.mapper.dataobject.WipPatchHistoryDO">
            <result column="id" property="id" />
            <result column="bill_id" property="billId" />
            <result column="item_id" property="itemId" />
            <result column="item_code" property="itemCode" />
            <result column="history" property="history" />
            <result column="crt_user" property="crtUser" />
            <result column="crt_date" property="crtDate" />
        </resultMap>
</mapper>
