<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.changebill.mapper.WipCnBillMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.changebill.mapper.dataobject.WipCnBillDO">
            <result column="bill_id" property="billId" />
            <result column="bill_no" property="billNo" />
            <result column="organization_id" property="organizationId" />
            <result column="bill_type" property="billType" />
            <result column="mo_id" property="moId" />
            <result column="bill_status" property="billStatus" />
            <result column="enable_date" property="enableDate" />
            <result column="disable_date" property="disableDate" />
            <result column="rmk01" property="rmk01" />
            <result column="rmk02" property="rmk02" />
            <result column="rmk03" property="rmk03" />
            <result column="rmk04" property="rmk04" />
            <result column="rmk05" property="rmk05" />
            <result column="crt_time" property="crtTime" />
            <result column="crt_user" property="crtUser" />
            <result column="crt_host" property="crtHost" />
            <result column="upd_time" property="updTime" />
            <result column="upd_user" property="updUser" />
            <result column="upd_host" property="updHost" />
            <result column="version" property="version" />
            <result column="change_content" property="changeContent" />
            <result column="remarks" property="remarks" />
            <result column="pc_remarks" property="pcRemarks" />
            <result column="mot_lot_no" property="motLotNo" />
            <result column="source_no" property="sourceNo" />
    </resultMap>

    <select id="selectByReqInsHeaderId" resultMap="BaseResultMap">
        select *
        from wip_cn_bill
        where bill_status = '110'
          and bill_id in (
            select source_cn_bill_id
            from wip_req_ins_h ih
            where ih.ins_h_id = #{reqInsHeaderId}
            )
    </select>


    <select id="selectSyncFailedBills" resultMap="BaseResultMap">
            select *
            from wip_cn_bill cb
            where cb.bill_status = '110'
              and exists(
                  select 1
                  from wip_cn_bill_error_log el
                  where el.bill_id = cb.bill_id
                    and el.opt_type = '1'
                    and el.crt_time > current_timestamp + '-12 hour'
                    <if test="errMsgList != null and errMsgList.size() > 0">
                        and el.error_message in
                        <foreach collection="errMsgList" item="errMsg" open="(" separator="," close=")">
                             #{errMsg}
                        </foreach>
                    </if>
                )
              and not exists(
                  select 1
                  from wip_req_ins_h ih
                  where ih.source_cn_bill_id = cb.bill_id
              )
    </select>

</mapper>
