<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.scm.mapper.ScmViewCommonMapper">
    
    <resultMap id="SysOrgOrganizationV" type="com.cvte.scm.wip.domain.core.scm.vo.SysOrgOrganizationVO">
        <result column="dimension_id" property="dimensionId"/>
        <result column="org_id" property="orgId"/>
        <result column="relation_code" property="relationCode"/>
        <result column="org_type" property="orgType"/>
        <result column="org_name" property="orgName"/>
        <result column="abbr_name" property="abbrName"/>
        <result column="so_org_id" property="soOrgId"/>
        <result column="ebs_organization_code" property="ebsOrganizationCode"/>
        <result column="ebs_organization_id" property="ebsOrganizationId"/>
        <result column="ebs_org_id" property="ebsOrgId"/>
    </resultMap>

    <resultMap id="MdItemVO" type="com.cvte.scm.wip.domain.core.scm.vo.MdItemVO">
        <result column="inventory_item_id" property="inventoryItemId"/>
        <result column="item_code" property="itemCode"/>
    </resultMap>

    <select id="listSysOrgOrganizationVO" resultMap="SysOrgOrganizationV">
        select Soov.*
        FROM scm.sys_org_organization_v Soov
        where 1=1
        <if test="ebsOrganizationIds != null and ebsOrganizationIds.size > 0" >
            AND Soov.ebs_organization_id IN
            <foreach collection="ebsOrganizationIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="ebsOrganizationCodes != null and ebsOrganizationCodes.size > 0" >
            AND Soov.ebs_organization_code IN
            <foreach collection="ebsOrganizationCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getFactoryCodeById" resultType="String">
        select factory_code
        from scm.sys_org_factory_v
        where ebs_factory_id = #{factoryId}
    </select>

    <resultMap id="getSysBuDeptVO" type="com.cvte.scm.wip.domain.core.scm.vo.SysBuDeptVO">
        <result column="bu_code" property="buCode"/>
        <result column="bu_name" property="buName"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>
    <select id="getSysBuDeptVO" resultMap="getSysBuDeptVO">
        select Sbv.bu_code
            , Sbv.bu_name
            , Sbdv.dept_code
            , Sbdv.dept_name
        from scm.sys_bu_v Sbv
        join scm.sys_bu_dept_v Sbdv on Sbv.bu_code = Sbdv.bu_code
        where Sbv.bu_code = #{buCode}
        and Sbdv.dept_code = #{deptCode}
    </select>

    <select id="listMdItemVO" resultType="com.cvte.scm.wip.domain.core.scm.vo.MdItemVO">
        select inventory_item_id
            , item_code
        from scm.md_item
        where 1=1
        <if test="itemCodes != null and itemCodes.size() > 0">
            and item_code in
            <foreach collection="itemCodes" index="index" item="item" open="(" separator="," close=")">
                <if test="(index % 999) == 998">
                    'bucunzaide...' ) OR item_code IN (
                </if>#{item}
            </foreach>
        </if>
    </select>

</mapper>