<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.subrule.mapper.WipSubRuleAdaptMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.subrule.mapper.dataobject.WipSubRuleAdaptDO">
        <result column="adapt_rule_id" property="adaptRuleId"/>
        <result column="rule_id" property="ruleId"/>
        <result column="scope_type" property="scopeType"/>
        <result column="adapt_type" property="adaptType"/>
        <result column="adapt_item" property="adaptItem"/>
        <result column="rmk01" property="rmk01"/>
        <result column="rmk02" property="rmk02"/>
        <result column="rmk03" property="rmk03"/>
        <result column="rmk04" property="rmk04"/>
        <result column="rmk05" property="rmk05"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>

    <select id="getSubRuleLotDetailData"
            resultType="com.cvte.scm.wip.domain.core.subrule.valueobject.WipSubRuleLotDetailVO">
        select source_lot_no,
               organization_id,
               product_no,
               product_model,
               product_des,
               bill_qty,
               factory_id,
               plan_start_date,
               mtr_ready_time,
               wip_status_type
        from wip.xxwip_mo_v ${condition}
    </select>

    <resultMap id="FactoryIdNameMap" type="com.cvte.scm.wip.domain.core.subrule.valueobject.EntryVO">
        <result column="key" property="key"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="getFactoryNameData" resultMap="FactoryIdNameMap">
        select soe.ebs_code  as key,
               so.org_name   as value
        from scm.sys_org so
                 inner join scm.sys_org_ext soe
                            on so.id = soe.id
        where
        <choose>
            <when test="factoryIds != null and factoryIds.size() > 0">
                soe.ebs_code in
                <foreach collection="factoryIds" index="index" item="factoryId" open="(" separator="," close=")">
                    #{factoryId}
                </foreach>
            </when>
            <otherwise>
                1 = -1
            </otherwise>
        </choose>
    </select>

    <select id="getPreparedLotNos" resultType="java.lang.String">
        select wmv.lot_number from wip.wip_mo_v wmv
        inner join wip.wip_issued_log_v wilv
        on wilv.wip_id = cast(wmv.mo_id as varchar)
        and wilv.organization_id = cast(wmv.organization_id as varchar)
        where wmv.organization_id = ${organizationId} and
        <choose>
            <when test="lotNoList != null and lotNoList.size() > 0">
                wmv.lot_number in
                <foreach collection="lotNoList" index="index" item="lotNo" open="(" separator="," close=")">
                    #{lotNo}
                </foreach>
            </when>
            <otherwise>
                1 = -1
            </otherwise>
        </choose>
    </select>
</mapper>