<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.ckd.mapper.WipMcTaskLineMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.ckd.mapper.dataobject.WipMcTaskLineDO">
        <result column="line_id" property="lineId"/>
        <result column="mc_task_id" property="mcTaskId"/>
        <result column="item_id" property="itemId"/>
        <result column="source_line_no" property="sourceLineNo"/>
        <result column="mc_qty" property="mcQty"/>
        <result column="crt_time" property="crtTime"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_host" property="crtHost"/>
        <result column="upd_time" property="updTime"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_host" property="updHost"/>
        <result column="rmk02" property="rmk02"/>
        <result column="rmk03" property="rmk03"/>
        <result column="rmk04" property="rmk04"/>
        <result column="rmk05" property="rmk05"/>
    </resultMap>

    <resultMap id="WipMcTaskLineView" type="com.cvte.scm.wip.domain.core.ckd.dto.view.WipMcTaskLineView">
        <result column="line_id" property="lineId"/>
        <result column="mc_task_id" property="mcTaskId"/>
        <result column="item_id" property="itemId"/>
        <result column="item_code" property="itemCode"/>
        <result column="source_line_no" property="sourceLineNo"/>
        <result column="source_line_id" property="sourceLineId"/>
        <result column="mc_qty" property="mcQty"/>
        <result column="delivery_out_no" property="deliveryOutNo"/>
        <result column="delivery_out_line_no" property="deliveryOutLineNo"/>
        <result column="delivery_out_status" property="deliveryOutStatus"/>
        <result column="delivery_out_line_status" property="deliveryOutLineStatus"/>
        <result column="delivery_out_qty" property="deliveryOutQty"/>
        <result column="delivery_out_post_qty" property="deliveryOutPostQty"/>
        <result column="delivery_in_no" property="deliveryInNo"/>
        <result column="delivery_in_line_no" property="deliveryInLineNo"/>
        <result column="delivery_in_status" property="deliveryInStatus"/>
        <result column="delivery_in_line_status" property="deliveryInLineStatus"/>
        <result column="delivery_in_qty" property="deliveryInQty"/>
        <result column="delivery_in_post_qty" property="deliveryInPostQty"/>

        <result column="delivery_rm_no" property="deliveryRmNo"/>
        <result column="delivery_rm_line_no" property="deliveryRmLineNo"/>
        <result column="delivery_rm_status" property="deliveryRmStatus"/>
        <result column="delivery_rm_line_status" property="deliveryRmLineStatus"/>
        <result column="delivery_rm_qty" property="deliveryRmQty"/>
        <result column="delivery_rm_post_qty" property="deliveryRmPostQty"/>

        <result column="factory_code" property="factoryCode"/>
        <result column="factory_id" property="factoryId"/>
        <result column="factory_name" property="factoryName"/>
        <result column="delivery_out_stock_line_id" property="deliveryOutStockLineId"/>
        <result column="delivery_in_stock_line_id" property="deliveryInStockLineId"/>
        <result column="crt_time" property="crtTime" />
        <result column="crt_user" property="crtUser" />
        <result column="crt_host" property="crtHost" />
        <result column="upd_time" property="updTime" />
        <result column="upd_user" property="updUser" />
        <result column="upd_host" property="updHost" />
        <result column="line_status" property="lineStatus" />
    </resultMap>


    <select id="listWipMcTaskLineView" resultMap="WipMcTaskLineView">
        WITH Inout_Stock_View as (
            select Wmis."type"
            , Wmis.header_no
            , Wmis.mc_task_id
            , Wmis.status header_status
            , Wmisl.*
            , row_number() OVER( partition by Wmis."type", Wmisl.mc_task_line_id order by Wmisl.crt_time desc) Rn
            from wip_mc_inout_stock Wmis
            left join wip_mc_inout_stock_line Wmisl on Wmisl.inout_stock_id = Wmis.inout_stock_id
        )
        select Wmtl.line_id
        , Wmtl.mc_task_id
        , Wmtl.item_id
        , Wmtl.source_line_no
        , Wmtl.source_line_id
        , Wmtl.mc_qty
        -- 调出单
        , Out_View.header_no delivery_out_no
        , Out_View.header_status delivery_out_status
        , Out_View.inout_stock_line_id delivery_out_stock_line_id
        , Out_View.line_no delivery_out_line_no
        , Out_View.status delivery_out_line_status
        , Out_View.qty delivery_out_qty
        , Out_View.post_qty delivery_out_post_qty
        -- 调入单
        , In_View.header_no delivery_in_no
        , In_View.header_status delivery_in_status
        , In_View.inout_stock_line_id delivery_in_stock_line_id
        , In_View.line_no delivery_in_line_no
        , In_View.status delivery_in_line_status
        , In_View.qty delivery_in_qty
        , In_View.post_qty delivery_in_post_qty
        -- 退料单
        , Rm_View.header_no delivery_rm_no
        , Rm_View.header_status delivery_rm_status
        , Rm_View.inout_stock_line_id delivery_rm_stock_line_id
        , Rm_View.line_no delivery_rm_line_no
        , Rm_View.status delivery_rm_line_status
        , Rm_View.qty delivery_rm_qty
        , Rm_View.post_qty delivery_rm_post_qty

        , Mi.item_code
        , Sofv.factory_code
        , sofv.factory_id
        , Sofv.factory_name
        , Wmtl.crt_time
        , Wmtl.crt_user
        , Wmtl.upd_time
        , Wmtl.upd_user
        , Wmtl.crt_host
        , Wmtl.upd_host
        , Wmtl.line_status
        from wip_mc_task_line Wmtl
        join wip_mc_task Wmt on Wmt.mc_task_id = Wmtl.mc_task_id
        join scm.md_item Mi on Mi.inventory_item_id = Wmtl.item_id
        left join scm.sys_org_factory_v Sofv on Sofv.ebs_factory_id = Wmt.factory_id
        left join Inout_Stock_View In_View
        on In_View.mc_task_id = wmt.mc_task_id and In_view.mc_task_line_id = Wmtl.line_id and In_View.Rn = 1 and In_View.type = 'IN'
        left join Inout_Stock_View Out_View
        on Out_View.mc_task_id = wmt.mc_task_id and Out_View.mc_task_line_id = Wmtl.line_id and Out_View.Rn = 1 and Out_View.type = 'OUT'
        left join Inout_Stock_View Rm_View
        on Rm_View.mc_task_id = wmt.mc_task_id and Rm_View.mc_task_line_id = Wmtl.line_id and Rm_View.Rn = 1 and Rm_View.type = 'RETURN_MATERIAL'
        where 1=1
        <if test="lineStatus != null and lineStatus != ''">
            AND Wmtl.line_status = #{lineStatus}
        </if>
        <if test="taskIds != null and taskIds.size() > 0">
            AND Wmtl.mc_task_id in
            <foreach collection="taskIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="sourceLineIds != null and sourceLineIds.size() > 0">
            AND Wmtl.source_line_id in
            <foreach collection="sourceLineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="taskLineIds != null and taskLineIds.size()>0">
            AND Wmtl.line_id in
            <foreach collection="taskLineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
