<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.scm.wip.infrastructure.ckd.mapper.WipMcTaskMapper">
    <resultMap id="BaseResultMap" type="com.cvte.scm.wip.infrastructure.ckd.mapper.dataobject.WipMcTaskDO">
        <result column="mc_task_id" property="mcTaskId"/>
        <result column="mc_task_no" property="mcTaskNo"/>
        <result column="factory_id" property="factoryId"/>
        <result column="client" property="client"/>
        <result column="mtr_ready_time" property="mtrReadyTime"/>
        <result column="remark" property="remark"/>
        <result column="crt_time" property="crtTime"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_host" property="crtHost"/>
        <result column="upd_time" property="updTime"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_host" property="updHost"/>
        <result column="rmk02" property="rmk02"/>
        <result column="rmk03" property="rmk03"/>
        <result column="rmk04" property="rmk04"/>
        <result column="rmk05" property="rmk05"/>
    </resultMap>

    <resultMap id="McTaskInfoView" type="com.cvte.scm.wip.domain.core.ckd.dto.view.McTaskInfoView">
        <result column="mc_task_no" property="mcTaskNo"/>
        <result column="mc_task_id" property="mcTaskId"/>
        <result column="source_no" property="sourceNo" />
        <result column="status" property="status"/>
        <result column="client" property="client"/>
        <result column="mtr_ready_time" property="mtrReadyTime"/>
        <result column="factory_name" property="factoryName"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upd_user" property="updUser"/>
        <result column="upd_time" property="updTime"/>
        <result column="remark" property="remark"/>
        <result column="pmAuditUser" property="pmAuditUser"/>
        <result column="pmAuditDate" property="pmAuditDate"/>
        <result column="factoryConfirmUser" property="factoryConfirmUser"/>
        <result column="factoryConfirmDate" property="factoryConfirmDate"/>
        <result column="backOffice" property="backOffice" />
        <result column="versionId" property="versionId" />
        <result column="versionNo" property="versionNo" />
        <result column="versionDate" property="versionDate" />
        <result column="org_id" property="orgId"/>
        <result column="ebs_organization_code" property="ebsOrganizationCode"/>
        <result column="mcFinishStatusCode" property="mcFinishStatusCode" />
        <result column="bu_name" property="buName" />
        <result column="dept_name" property="deptName" />
        <result column="item_count" property="itemCount" />
        <result column="attachment_upload_user" property="attachmentUploadUser" />
        <result column="sales" property="sales"/>
        <result column="client_id" property="clientId"/>
        <result column="plan_delivery_time" property="planDeliveryTime" />
    </resultMap>



    <resultMap id="WipMcTaskView" type="com.cvte.scm.wip.domain.core.ckd.dto.view.WipMcTaskView">
        <result column="mc_task_id" property="mcTaskId"/>
        <result column="mc_task_no" property="mcTaskNo"/>
        <result column="factory_id" property="factoryId"/>
        <result column="client" property="client"/>
        <result column="mtr_ready_time" property="mtrReadyTime"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="source_line_id" property="sourceLineId"/>
        <result column="crt_time" property="crtTime" />
    </resultMap>


    <resultMap id="listWipLineStatusView" type="com.cvte.scm.wip.domain.core.ckd.dto.view.WipLineStatusView">
        <result column="line_id" property="lineId"/>
        <result column="source_line_id" property="sourceLineId"/>
        <result column="source_line_no" property="sourceLineNo"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getMcTaskInfoView" resultMap="McTaskInfoView">
       select Wmt.mc_task_no
        , Wmt.mc_task_id
        , Wmw.status
        , Wmt.finish_status mcFinishStatusCode
        , Wmt.client
        , Wmt.mtr_ready_time
        , sofv.factory_name
        , coalesce(Crt_su.name, Wmt.crt_user) crt_user
        , Wmt.crt_time
        , coalesce(Upd_su.name, Wmt.upd_user) upd_user
        , Wmt.upd_time
        , wmt.remark
        , factory_confirm.crt_user_name factoryConfirmUser
        , factory_confirm.crt_time factoryConfirmDate
        , pm_audit.crt_user_name pmAuditUser
        , pm_audit.crt_time pmAuditDate
        , Bo_Su.name backOffice
        , Wmtv.version_id versionId
        , Wmtv.version_no versionNo
        , Wmtv.version_date versionDate
        , Wmt.org_id
        , Soov.ebs_organization_code
        , Wmt.bu_name
        , Wmt.dept_name
        , mc_req.source_no
        , item_count.item_count
		, Wa.crt_name attachment_upload_user
		, mc_req.sales
		, Wmt.client_id
		, Pdt.plan_delivery_time
        from wip_mc_task Wmt
        join wip_mc_wf Wmw on Wmw.mc_task_id = Wmt.mc_task_id and wmw.wf_id = wmt.mc_wf_id
        left join scm.sys_org_factory_v Sofv on Wmt.factory_id = Sofv.ebs_factory_id
        left join scm.sys_org_organization_v Soov on Wmt.org_id = Soov.org_id
        left join scm.sys_user Bo_Su ON Bo_Su.id = Wmt.back_office
        left join scm.sys_user Crt_su ON Crt_su.id = Wmt.crt_user
        left join scm.sys_user Upd_su ON Upd_su.id = Wmt.upd_user
        -- 最新版本信息
        join (
            select Wmtv.*
                , row_number() OVER( partition by mc_task_id order by Wmtv.crt_time desc) Rn
            from wip_mc_task_version Wmtv
            order by crt_time desc
        ) Wmtv on Wmtv.mc_task_id = Wmt.mc_task_id and Wmtv.Rn = 1
        -- 工厂确认信息
        left join (
            select Wmw.*
            , coalesce(Su.name, Wmw.crt_user) crt_user_name
            , row_number() OVER( partition by mc_task_id order by Wmw.crt_time desc) Rn
            from wip_mc_wf Wmw
            left join scm.sys_user Su on su.id = Wmw.crt_user
            where status = 'confirm'
        ) factory_confirm on factory_confirm.rn = 1 and factory_confirm.mc_task_id = Wmt.mc_task_id
        -- 生管确认信息
        left join (
            select Wmw.*
            , Su.name crt_user_name
            , row_number() OVER( partition by mc_task_id order by Wmw.crt_time desc) Rn
            from wip_mc_wf Wmw
            left join scm.sys_user Su on su.id = Wmw.crt_user
            where status = 'verify'
        ) pm_audit on pm_audit.rn = 1 and pm_audit.mc_task_id = Wmt.mc_task_id
        -- 需求信息
        left join wip_mc_req_to_task Wmrtt on Wmrtt.mc_task_id = Wmt.mc_task_id
		left join (
			select source_id
				, source_no
				, sales
				,  row_number() OVER( partition by Wmr.source_id  order by Wmr.crt_time desc) Rn
			from wip_mc_req Wmr
		) mc_req on mc_req.source_id = Wmrtt.mc_req_id and mc_req.Rn = 1
        -- 物料项数
		left join (
			select count(distinct wmtl.item_id) item_count,
				wmtl.mc_task_id
			from wip_mc_task_line Wmtl
			where Wmtl.line_status = '110'
			group by Wmtl.mc_task_id
		) item_count on item_count.mc_task_id = wmt.mc_task_id
		-- 附件上传信息
		left join (
			select *
			 , row_number() OVER( partition by Wa.reference_id  order by Wa.crt_time desc) Rn
			from wip_attachment Wa
		) Wa on Wa.reference_id = Wmt.mc_task_id and Wa.Rn = 1
        -- 计划发货日期
		left join (
			select Wmr.plan_delivery_time
				, Wmtl.mc_task_id
				, row_number() OVER(partition by Wmtl.mc_task_id  order by Wmr.plan_delivery_time) Rn
			from wip_mc_task_line Wmtl
			join wip_mc_req Wmr on Wmtl.source_line_id = Wmr.source_line_id
		        where Wmtl.line_status = '110'
		) Pdt on Pdt.mc_task_id = Wmt.mc_task_id and Pdt.rn = 1
        where Wmt.mc_task_id = #{mcTaskId}
    </select>


    <select id="listMcTaskDeliveringView" resultType="com.cvte.scm.wip.domain.core.ckd.dto.view.McTaskDeliveringStockView">
                select Wmtl.line_id mcTaskLineId
            , Wmtl.mc_task_id mcTaskId
            , Wmis.inout_stock_line_id inoutStockLineId
            , Wmis.line_id deliveryLineId
            , Wmis.line_no deliveryLineNo
            , Wmis.header_no deliveryNo
            , Wmis.header_id deliveryId
            , Wmis.inout_stock_id inoutStockId
        from wip_mc_task Wmt
        join wip_mc_task_line Wmtl on Wmt.mc_task_id = Wmtl.mc_task_id
        join wip_mc_wf Wmw on Wmw.wf_id = Wmt.mc_wf_id
        join (
            select Wmis."type"
            , Wmis.header_no
            , Wmis.header_id
            , Wmis.mc_task_id
            , Wmis.status header_status
            , Wmisl.*
            , row_number() OVER( partition by Wmis."type", Wmisl.mc_task_line_id order by Wmisl.crt_time desc) Rn
            from wip_mc_inout_stock Wmis
            left join wip_mc_inout_stock_line Wmisl on Wmisl.inout_stock_id = Wmis.inout_stock_id
        ) Wmis on Wmis.mc_task_id = Wmt.mc_task_id and Wmis.mc_task_line_id = Wmtl.line_id and Wmis.Rn = 1
        where Wmtl.line_status = '110' and Wmis.type = #{type}
        and (
            -- 行数据中含有未过账数据 或 头数据含 非终止状态数据
            Wmis.header_status not in  ('POSTED', 'CANCELLED')
            or Wmt.mc_task_id in (
                select Wmis.mc_task_id
                from wip_mc_inout_stock Wmis
                join wip_mc_inout_stock_line Wmisl on Wmis.inout_stock_id = Wmisl.inout_stock_id
                where Wmis.status = 'POSTED'
                and wmisl.status = 'UN_POST'
                group by Wmis.mc_task_id
            )
        )
    </select>

    <select id="listWipLineStatusView" resultMap="listWipLineStatusView">
        select Wmtl.line_id,
            Wmtl.source_line_id,
            Wmtl.source_line_no,
            Wmw.status
        from wip_mc_task_line Wmtl
        join wip_mc_task Wmt on Wmt.mc_task_id = Wmtl.mc_task_id
        join wip_mc_wf Wmw on Wmw.wf_id = Wmt.mc_wf_id
        where 1=1
        <if test="sourceLineId != null and sourceLineId != ''">
            AND Wmtl.line_id = #{sourceLineId}
        </if>
        <if test="sourceLineIds != null and sourceLineIds.size() > 0">
            AND Wmtl.line_id in
            <foreach collection="sourceLineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </select>


    <select id="listWipMcTask" resultMap="WipMcTaskView">
        select Wmt.mc_task_id
            , Wmt.mc_task_no
            , Wmt.factory_id
            , Wmt.client
            , Wmt.mtr_ready_time
            , Wmt.remark
            , Wmt.crt_time
            , Wmw.status
            , Wmtl.source_line_id
        from wip_mc_task Wmt
        join wip_mc_task_line Wmtl
        on Wmt.mc_task_id = Wmtl.mc_task_id
        join wip_mc_wf Wmw on Wmw.wf_id = Wmt.mc_wf_id
        where Wmtl.line_status = '110'
        <if test="status != null and status != ''">
            and wmw.status = #{status}
        </if>
        <if test="sourceLineIds != null and sourceLineIds.size() > 0">
            AND Wmtl.source_line_id in
            <foreach collection="sourceLineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size() > 0">
            AND Wmt.mc_task_id in
            <foreach collection="taskIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="mcTaskNos != null and mcTaskNos.size() > 0">
            AND Wmt.mc_task_no in
            <foreach collection="mcTaskNos" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by Wmt.crt_time desc
    </select>

    <select id="listValidTaskIds" resultType="java.lang.String">
        select Wmt.mc_task_id
        from wip_mc_task Wmt
        join wip_mc_task_line Wmtl on Wmt.mc_task_id = Wmtl.mc_task_id
        where Wmtl.line_status = '110'
        and Wmt.mc_task_id in
        <foreach collection="mcTaskIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by Wmt.mc_task_id
    </select>


    <select id="isSpecClient" resultType="Boolean">
        select count(1) > 0
        from wip_mc_task Wmt
        join wip_mc_spec_client Wmsc on Wmt.client_id = Wmsc.client_id
        where Wmt.mc_task_id = #{mcTaskId}
    </select>
    <select id="listAllTaskIdsOfOrder" resultType="java.lang.String">
        select mc_task_id
        from wip_mc_task_line wmtl
        join wip_mc_req Wmr
        on Wmtl.source_line_id = Wmr.source_line_id
        where exists (
            select 1
            from wip_mc_req x
            where Wmr.source_id = x.source_id
            <if test="sourceLineIds != null and sourceLineIds.size() > 0">
                and x.source_line_id in
                <foreach collection="sourceLineIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        )
        and wmtl.line_status = '110'
        group by mc_task_id
    </select>

</mapper>
